<h1>SIMPLE CALCULATOR</h1>


<br>
    <form name="formcalc">
    <div class="row">
    <div class="col">
    <input type="number" class="form-control" placeholder="First Number" name="num1" [(ngModel)]="num1">
    </div>
    <div class="col">
    <input type="number" class="form-control" placeholder="Second Number" name="num2" [(ngModel)]="num2">
    </div>
    </div>
    </form>
<br>

<div class="center">
    <button (click)="add()" type="button" class="btn btn-outline-info mr-3 btn-lg" id="add">+</button>
    <button (click)="subtract()" type="button" class="btn btn-outline-info mr-3 btn-lg" id="sub">-</button>
    <button (click)="multiply()" type="button" class="btn btn-outline-info mr-3 btn-lg" id="mul">*</button>
    <button (click)="divide()" type="button" class="btn btn-outline-info mr-3 btn-lg" id="div">/</button>
</div>

<br>

<div class ="res">
<input type="number" class="form-control" readonly id="result" placeholder="Result: {{result}}">
</div>